body {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.todo-item {
  background-color: whitesmoke;
  cursor: pointer;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
  color: rgb(156,160, 180)
}
