body {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.todo-item {
  background-color: whitesmoke;
  cursor: pointer;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
  color: rgb(156, 158, 160);
  position: relative;
}

.completed::after {
  width: 30px;
  height: 30px;
  content: '\2713';
  color: green;
  text-decoration: none;
  position: absolute;
  right: 10px;
}
